<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home.com</title>
</head>
<body>

<h1>This is the home Page</h1>
<h2><a href="/login">Wanna Login?</a></h2>
<h2><a href="/register">Sign Up, Bro!</a></h2>

</body>
</html>