<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home.com</title>
</head>
<body>

<h1>This is the secret Page</h1>
<img src="https://www.hdwallpapers.in/walls/gal_gadot_wonder_woman_2017_5k-wide.jpg" width="600" height="350">

<h3><a href="/logout">Logout</a></h3>

</body>
</html>